.navbar-logo {
    height: 45px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    background: #e6e6e6;
    font-size:15px;
}

.LogIn {
    padding-top:20px;
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.image-login {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.input {
    text-align: center;
    margin: 5px;
}

.squareSignup {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
}

.imageProfile {
    text-align: center;
}

.image-user {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    border: 1px transparent;
    padding:2px;
    border-radius: 20px;
}


